@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;

}

.title {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
    color: #162938;
    /*font-size: 36px;*/
    /*text-align: center;*/
    /*color: white;*/
}

.inputBox {
    position: relative;
    width: 100%;
    margin: 30px 0;

}

.input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    /*color: #fff;*/
    padding: 20px 40px 20px 20px;
}


.inputBox input::placeholder {
    color: #fff;
}

.inputBox .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
}

.rememberForgot {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -15px 0 15px;
}

.rememberForgot label input {
    accent-color: #fff;
    margin-right: 4px;
}

.rememberForgot a {
    color: #fff;
    text-decoration: none;
}

.rememberForgot a:hover {
    text-decoration: underline;
}

.Button {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
    transition: all 0.3s ease;
}

.registerLink {
    font-size: 14px;
    text-align: center;
    margin: 20px 0 15px;
}

.registerLink p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.registerLink p a:hover {
    text-decoration: underline;
}

.Button:hover {
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
    backdrop-filter: blur(10px);
}