.mainCard {
    width: 400px;
    margin: 20px 0;
}

.mainCard:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    background-color: #f5f5f5;
}

.bookmark {
    position: absolute;
    z-index: 10;
    transform: translateX(20px);
    /*top: 10px;*/
}

.postImg {
    /*position: relative;*/
    width: 100%;
    maxHeight: 400px;
    objectFit: cover;
    z-index: 0;
}